[submodule "database-parser/szakdolgozat"]
	path = database-parser/szakdolgozat
	url = https://github.com/raymileshun/szakdolgozat.git
[submodule "database-api/szakdolgozat"]
	path = database-api/szakdolgozat
	url = https://github.com/raymileshun/szakdolgozat.git
[submodule "modell-trainer/szakdolgozat"]
	path = modell-trainer/szakdolgozat
	url = https://github.com/raymileshun/szakdolgozat.git
[submodule "garbage-recognizer/szakdolgozat"]
	path = garbage-recognizer/szakdolgozat
	url = https://github.com/raymileshun/szakdolgozat.git
